@model AnjaliMIS.Models.DIA_Cassett

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cassett</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CassettsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CassettsNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYS_Company.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYS_Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYS_Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYS_Status.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEC_User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEC_User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CassettsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
