
@model AnjaliMIS.ViewModals.DashboardViewModal
@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Dashboard",
                    new { controller = "INV_Item" })
    </li>
}
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.InvoiceCount.ToString()
                </div>
                <div class="desc">
                    Invoice Generated
                </div>
            </div>
            @Html.ActionLink("View more", "Index",
                    new { controller = "INV_Invoice" },
                    new { @class = "more" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.ItemCount.ToString()
                </div>
                <div class="desc">
                    Items Configured
                </div>
            </div>
            @Html.ActionLink("View more", "Index",
                    new { controller = "INV_Item" },
                    new { @class = "more" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.POCount.ToString()
                </div>
                <div class="desc">
                    Purchase Orders
                </div>
            </div>
            @Html.ActionLink("View more", "Index",
                    new { controller = "INV_PurchaseOrder" },
                    new { @class = "more" })
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    @*@Model.POCount.ToString()*@
                </div>
                <div class="desc">
                    Issue / Return
                </div>
            </div>
            @Html.ActionLink("View more", "Index",
                    new { controller = "INV_ItemIssueReturn" },
                    new { @class = "more" })
        </div>
    </div>
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        +89%
                    </div>
                    <div class="desc">
                        Brand Popularity
                    </div>
                </div>
                <a class="more" href="javascript:;">
                    View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>*@
</div>
<!-- END DASHBOARD STATS -->