
@model AnjaliMIS.Models.INV_Item

@{
    ViewBag.Title = "Edit";
}
@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Dashboard",
                    new { controller = "INV_Item" })
    </li>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.ItemID)
    @Html.HiddenFor(model => model.ItemCode)
    if (Model.IsLock == true)
    {
        @Html.HiddenFor(model => model.IsLock)
    }
    <!--Add-Edit code start-->
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Item
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @*<h3 class="form-section">Basic validation States</h3>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ItemName, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.UnitID, "Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @if (Model.IsLock == true)
                                {
                                    @Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.DropDownList("UnitID", null, htmlAttributes: new { @class = "form-control" })
                                }
                                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Model.IsLock != true)
                        {
                            //string Display = "None";
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.MinStockLimit, "Min. Stock ", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MinStockLimit, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MinStockLimit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2", @readonly = "readonly" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.MinStockLimit, "Min. Stock ", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.MinStockLimit, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.MinStockLimit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RejectedQuantity, "Rejected Qty.", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RejectedQuantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RejectedQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsConfigurable, "Is Configurable?", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsConfigurable)
                                    @Html.ValidationMessageFor(model => model.IsConfigurable, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model.IsLock != true)
                            {
                                @Html.LabelFor(model => model.IsLock, "Is Lock?", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.IsLock)
                                        @Html.ValidationMessageFor(model => model.IsLock, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.LabelFor(model => model.IsLock, "Is Lock?", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.IsLock, htmlAttributes: new { @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.IsLock, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Save" class="btn green" />
                                @Html.ActionLink("Back to List", "index", "INV_Item", new { @class = "btn default" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
    <!--Add-Edit code end-->

}
