@model AnjaliMIS.Models.DIA_Jangad
@{
    ViewBag.Title = "CreateNew";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@using (Html.BeginForm())
{
    @*<h2>CreateNew</h2>*@
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Jangad Fresh
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @*<div class="form-group">
            @Html.LabelFor(model => model.CompanyID, "Jangad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JangadID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
            </div>
        </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.PartyID, "Party", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("PartyID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PartyID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Quantity, "Than", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input id="txtQuantity" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>



                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsLocal, "Is Local ?", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="isLocal" value="True">Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isLocal" value="False">No
                                </label>
                            </div>

                            @Html.LabelFor(model => model.JangadNo, "Jangad No", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input id="txtJangadNo" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                        </div>

                        <div id="divCGST" class="form-group" hidden>
                            @Html.LabelFor(model => model.CGST, "CGST", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <select id="ddlCGST" class="form-control"></select>
                            </div>
                            @Html.LabelFor(model => model.SGST, "SGST", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*<select id="ddlSGST" class="form-control"></select>*@
                                <input id="txtSGSTValue" type="text" class="form-control" readonly="readonly" />
                            </div>

                        </div>

                        <div class="form-group" id="divIGST" hidden>
                            @Html.LabelFor(model => model.IGST, "IGST", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <select id="ddlIGST" class="form-control"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-4 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="isJangadType" value="True">Is Rate Per Than?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isJangadType" value="False">Is Rate Per Carat?
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Rate, "Rate", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <input id="txtRate" type="text" class="form-control" />
                            </div>
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <table class="table-bordered table">
                            <thead>
                                <tr>
                                    <th class="text-right">Rate (<span id="tdValues"></span>)</th>
                                    <th class="text-right">SGST <span id="tdSpanPercentageSGSTValue"></span></th>
                                    <th class="text-right">CGST <span id="tdSpanPercentageCGSTValue"></span></th>
                                    <th class="text-right">IGST <span id="tdSpanPercentageIGSTValue"></span></th>
                                    <th class="text-right">Total</th>
                                    <th class="text-right">Final Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="tdItemTotal" class="text-right"></td>
                                    <td id="tdSGST" class="text-right"></td>
                                    <td id="tdCGST" class="text-right"></td>
                                    <td id="tdIGST" class="text-right"></td>
                                    <td id="tdTotal" class="text-right"></td>
                                    <td id="tdFinalTotal" class="text-right bold"></td>
                                </tr>
                            </tbody>
                        </table>

                        <h3 class="form-section">Jangad Items</h3>
                        <div class="form-group">
                            <label class="control-label col-md-2">Item Code</label>
                            <div class="col-md-2">
                                <input id="txtJangadItemCode" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Dia</label>
                            <div class="col-md-2">
                                <input id="txtDia" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">R Weight</label>
                            <div class="col-md-2">
                                <input id="txtRWeight" type="text" class="form-control allownumericwithdecimal" />
                            </div>
                            <label class="control-label col-md-2">P Weight</label>
                            <div class="col-md-2">
                                <input id="txtPWeight" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">P Angle</label>
                            <div class="col-md-2">
                                <input id="txtPavalionAngle" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>

                            <label class="control-label col-md-2">C Angle</label>
                            <div class="col-md-2">
                                <input id="txtCrownAngle" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">C Height</label>
                            <div class="col-md-2">
                                <input id="txtCrownHeight" type="text" class="form-control allownumericwithdecimal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Girdle</label>
                            <div class="col-md-2">
                                <input id="txtGirdle" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">Culet</label>
                            <div class="col-md-2">
                                <input id="txtCulet" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">table</label>
                            <div class="col-md-2">
                                <input id="txtji_table" type="text" class="form-control allownumericwithdecimal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Para 1</label>
                            <div class="col-md-2">
                                <input id="txtPara1" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">Para 2</label>
                            <div class="col-md-2">
                                <input id="txtPara2" type="text" class="form-control allownumericwithoutdecimal" />
                            </div>
                            <label class="control-label col-md-2">Para 3</label>
                            <div class="col-md-2">
                                <input id="txtPara3" type="text" class="form-control allownumericwithdecimal" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2"></label>
                            <div class="col-md-5">
                                <a href="#" class="button bu-block btn default glyphicon glyphicon-plus add-row"> Add Item</a>
                            </div>
                            <div class="col-md-5">
                                <input type="file" class="upload" name="UploadedFile" id="fileLoadDoc" multiple="multiple" />
                            </div>
                        </div>

                        <div id="divJangadList" class="form-group" hidden>
                            <label class="control-label col-md-2">Jangad List</label>
                            <div class="col-md-10">
                                <table class="table table-bordered table-responsive" id="selected_units">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th class="text-right">Code</th>
                                            <th class="text-right">Dia</th>
                                            <th class="text-right">R Weight</th>
                                            <th class="text-right">P Weight</th>
                                            <th class="text-right">Pavalion Angle</th>
                                            <th class="text-right">Crown Angle</th>
                                            <th class="text-right">Crown Height</th>
                                            <th class="text-right">Girdle</th>
                                            <th class="text-right">Culet</th>
                                            <th class="text-right">table</th>
                                            <th class="text-right">para 1</th>
                                            <th class="text-right">para 2</th>
                                            <th class="text-right">para 3</th>

                                        </tr>
                                    </thead>
                                    <tbody class="list"></tbody>
                                </table>
                                <button type="button" style="float:right;" class="delete-row">Delete Item</button>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="button" id="btnSave" value="Save" class="btn green" />
                                @Html.ActionLink("Back to List", "index", "DIA_JangadItem", new { @class = "btn default" })
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
}

<script>
    var itemWiseEachStepAddTotalAmount = 0;
    var jangadList = [];
    var CGSTID = 0;
    var IGSTID = 0;
    var SGSTID = 0;
    var i = 0;
    @if (Model.IsLocal == true) {
        @: $('input:radio[name="isLocal"][value="True"]').attr('checked', true);
               }
   else {
       @: $('input:radio[name="isLocal"][value="False"]').attr('checked', true);
                   }

    @if (Model.IsRatePerCarat == true) {
        @: $('input:radio[name="isJangadType"][value="True"]').attr('checked', true);
             }
    @if (Model.IsRatePerThan == true)
     {
         @: $('input:radio[name="isJangadType"][value="False"]').attr('checked', true);
             }
    $(document).ready(function () {
        RetrieveCGST();
        RetrieveIGST();

        $("#txtRate").change(function () {
            CheckJangadType();

        });
        $("#Weight").change(function () {
            CheckJangadType();
        });
        $("#txtQuantity").change(function () {
            CheckJangadType();
        });

        $('input:radio[name=isLocal]').change(function () {
            CheckIsLocal();
        });
        $('input:radio[name=isJangadType]').change(function () {
            CheckJangadType();
        });

        CheckIsLocal();
        CheckJangadType();
        $("#btnSave").click(function () {

            var response = true;
            //response = ValidationRemarks(false);
            if (response == false) {
                alert('Please fill all the compulsory field(s).');
                return false;
            }
            else {
                SaveJangadList();
            }
        });

        $("#ddlCGST").change(function () {

            var changeSGSTValueDependOnCGST = $("option:selected", "#ddlCGST").attr("data-id");
            $("#txtSGSTValue").val("SGST-" + changeSGSTValueDependOnCGST);
            $('#ddlCGST option[data-id="' + changeSGSTValueDependOnCGST + '"]').prop('selected', true);
            FinalCalculation();
        });

        $(".add-row").click(function () {

            var response = true;
            response = ValidationItemControls(false);
            if (response == false) {
                alert('Please fill all the compulsory field(s).');
                return false;
            }

            i++;
            $('#divJangadList').show();


            var Dia = $('#txtDia').val();
            var RWeight = $('#txtRWeight').val();
            var PWeight = $('#txtPWeight').val();
            var PavalionAngle = $('#txtPavalionAngle').val();
            var CrownAngle = $('#txtCrownAngle').val();
            var CrownHeight = $('#txtCrownHeight').val();
            var Girdle = $('#txtGirdle').val();
            var Culet = $('#txtCulet').val();
            var ji_table = $('#txtji_table').val();
            var para1 = $('#txtPara1').val();
            var para2 = $('#txtPara2').val();
            var para3 = $('#txtPara3').val();
            var JangadItemCode = $('#txtJangadItemCode').val();

            jangadList.push({
                tablerowid:i,
                Dia: Dia,
                RWeight: RWeight,
                PWeight: PWeight,
                PavalionAngle: PavalionAngle,
                CrownAngle: CrownAngle,
                CrownHeight: CrownHeight,
                Girdle: Girdle,
                Culet: Culet,
                ji_table: ji_table,
                Para1: para1,
                Para2: para2,
                Para3: para3,
                JangadItemCode: JangadItemCode,
            });


            var markup = "<tr>";
            markup += "<td><input type='checkbox' name='record' id='" + i + "'></td>";
            markup += "<td class='text-right'>" + JangadItemCode + "</td>";
            markup += "<td>" + Dia + "</td>";
            markup += "<td class='text-right'>" + RWeight + "</td>";
            markup += "<td class='text-right'>" + PWeight + "</td>";
            markup += "<td class='text-right'>" + PavalionAngle + "</td>";
            markup += "<td class='text-right'>" + CrownAngle + "</td>";
            markup += "<td class='text-right'>" + CrownHeight + "</td>";
            markup += "<td class='text-right'>" + Girdle + "</td>";
            markup += "<td class='text-right'>" + Culet + "</td>";
            markup += "<td class='text-right'>" + ji_table + "</td>";
            markup += "<td class='text-right'>" + para1 + "</td>";
            markup += "<td class='text-right'>" + para2 + "</td>";
            markup += "<td class='text-right'>" + para3 + "</td>";
            markup += "</tr>";

            $("table .list").prepend(markup);

            $('#txtDia').val('');
            $('#txtRWeight').val('');
            $('#txtPWeight').val('');
            $('#txtPavalionAngle').val('');
            $('#txtCrownAngle').val('');
            $('#txtCrownHeight').val('');
            $('#txtGirdle').val('');
            $('#txtCulet').val('');
            $('#txtji_table').val('');
            $('#txtPara1').val('');
            $('#txtPara2').val('');
            $('#txtPara3').val('');
            $('#txtJangadItemCode').val('');

        });

        function ValidationItemControls() {
            var isValid = true;

            if ($('#txtDia').val().trim() == "") {
                $('#txtDia').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtDia').css('border-color', '#ccc');
            }

            if ($('#txtRWeight').val().trim() == "") {
                $('#txtRWeight').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtRWeight').css('border-color', '#ccc');
            }

            if ($('#txtPWeight').val().trim() == "") {
                $('#txtPWeight').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPWeight').css('border-color', '#ccc');
            }

            if ($('#txtPavalionAngle').val().trim() == "") {
                $('#txtPavalionAngle').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPavalionAngle').css('border-color', '#ccc');
            }

            if ($('#txtCrownAngle').val().trim() == "") {
                $('#txtCrownAngle').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtCrownAngle').css('border-color', '#ccc');
            }

            if ($('#txtCrownHeight').val().trim() == "") {
                $('#txtCrownHeight').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtCrownHeight').css('border-color', '#ccc');
            }

            if ($('#txtGirdle').val().trim() == "") {
                $('#txtGirdle').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtGirdle').css('border-color', '#ccc');
            }

            if ($('#txtCulet').val().trim() == "") {
                $('#txtCulet').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtCulet').css('border-color', '#ccc');
            }

            if ($('#txtji_table').val().trim() == "") {
                $('#txtji_table').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtji_table').css('border-color', '#ccc');
            }

            if ($('#txtPara1').val().trim() == "") {
                $('#txtPara1').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPara1').css('border-color', '#ccc');
            }

            if ($('#txtPara2').val().trim() == "") {
                $('#txtPara2').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPara2').css('border-color', '#ccc');
            }

            if ($('#txtPara3').val().trim() == "") {
                $('#txtPara3').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPara3').css('border-color', '#ccc');
            }

            if ($('#txtJangadItemCode').val().trim() == "") {
                $('#txtJangadItemCode').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtJangadItemCode').css('border-color', '#ccc');
            }
            return isValid;
        }



        $(".delete-row").click(function () {
            debugger;
            $("table tbody").find('input[name="record"]').each(function () {
                if ($(this).is(":checked")) {
                    debugger;
                    var checkId = this.id;
                    $(this).parents("tr").remove();

                    $.each(jangadList, function (key, value) {
                        debugger;
                        //var checkitemid = value.ItemID;
                        //var deductquantity = value.OrderedQuantity;
                        //var deductpriceperunit = value.PuchasePrice;
                        if (checkId == value.tablerowid) {

                        //    //productList.pop(key);
                            jangadList.splice(key, 1);
                        //    itemWiseEachStepAddTotalAmount = itemWiseEachStepAddTotalAmount - (deductquantity * deductpriceperunit);
                        //    $('#tdItemTotal').html(itemWiseEachStepAddTotalAmount);
                            FinalCalculation();
                        //    return false;
                        }

                    });
                }
            });

        });
    });


    function SaveJangadList() {

        if (jangadList.length == 0) {
            alert("Please enter jangad item");
            return false;
        }

        var qTYByThan = 0;
        var quantity = 0;
        var Rate = 0;
        var txtPricePerCarat = 0;

        var isRatePerThan = false;
        if ($('input[name=isJangadType]:checked').val() == "True") {
            isRatePerThan = true;
            //qTYByThan = $('#txtQTYByThan').val();
            Rate = $('#txtRate').val();
        }

        var isRatePerCarat = false;
        if ($('input[name=isJangadType]:checked').val() == "False") {
            isRatePerCarat = true;
            Quantity = $('#txtQuantity').val();
            //txtPricePerCarat = $('#txtPricePerCarat').val();
        }

        var newData = {
            PartyID: $('#PartyID').val(),
            Weight: $('#Weight').val(),
            Remarks: $('#Remarks').val(),
            CGST: $('#ddlCGST').val(),
            CGSTAmount: $('#tdCGST').html(),
            SGST: $('#ddlCGST').val(),
            SGSTAmount: $('#tdSGST').html(),
            IGST: $('#ddlIGST').val(),
            IGSTAmount: $('#tdIGST').html(),
            IsLocal: $('input[name=isLocal]:checked').val(),
            IsActive: $('#IsActive').val(),
            QTYByThan: qTYByThan,
            Quantity: $('#txtQuantity').val(),
            JangadNo: $('#txtJangadNo').val(),
            Rate: Rate,
            PricePerCarat: Rate,
            IsRatePerThan: isRatePerThan,
            IsRatePerCarat: isRatePerCarat,
            TotalAmount: $('#tdFinalTotal').val(),
            DIA_JangadItems: jangadList
        };
        debugger;
        $.ajax({
            url: '@Url.Action("AddJangad", "DIA_JangadItem")',
            data: JSON.stringify(newData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                $('#InvoiceMessage').modal('show');

                window.location.href = '@Url.Action("CreateNew", "DIA_JangadItem")';
            },
            error: function (errormessage) {

            }
        });
    }




    function CheckIsLocal() {
        if ($('input[name=isLocal]:checked').val() == "True") {
            //$('#divSGST').show();
            $('#divCGST').show();
            $('#divIGST').hide();
            $('#ddlIGST').val("0");
        }
        else if ($('input[name=isLocal]:checked').val() == "False") {
            $('#divCGST').hide();
            //$('#divSGST').hide();
            $('#divIGST').show();
            $('#ddlCGST').val("0");
            $('#ddlSGST').val("0");
        }
        else {
            $('#divCGST').hide();
            //$('#divSGST').hide();
            $('#divIGST').hide();
        }
    }
    CheckJangadType();
    function CheckJangadType() {
        if ($('input[name=isJangadType]:checked').val() == "True") {
            debugger;
            var Quantity = $('#txtQuantity').val();
            var Rate = $('#txtRate').val();

            $('#tdValues').html(Rate + " * " + Quantity);

            itemWiseEachStepAddTotalAmount = Rate * Quantity;
            $('#tdItemTotal').html(parseFloat(itemWiseEachStepAddTotalAmount));

            FinalCalculation();
        }
        else if ($('input[name=isJangadType]:checked').val() == "False") {
            debugger;

            var Weight = $('#Weight').val();
            var Rate = $('#txtRate').val();

            $('#tdValues').html(Rate + " * " + Weight);
            itemWiseEachStepAddTotalAmount = Rate * Weight;

            $('#tdItemTotal').html(parseFloat(itemWiseEachStepAddTotalAmount));

            FinalCalculation();
        }
        else {
            //$('#divThan').hide();
            //$('#divCarat').hide();
        }
    }
    //Retrive CGST
    function RetrieveCGST() {
        $.ajax({
            url: '@Url.Action("RetrieveCGST", "INV_Invoice")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlCGST").empty();
                    $("#ddlCGST").append('<option value="0" data-id="0">Select CGST</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].TaxID).text(result[i].Tax).attr("data-id", result[i].Percentage);
                        $("#ddlCGST").append(option);
                    }
                    if (CGSTID > 0) {
                        $('#ddlCGST').val(CGSTID);
                        $('#txtSGSTValue').val("SGST-" + $("option:selected", "#ddlCGST").attr("data-id"));
                    }
                    else {
                        $('#ddlCGST').val(0);
                        $('#txtSGSTValue').val(0);
                    }
                    FinalCalculation();

                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Retrive IGST
    function RetrieveIGST() {
        $.ajax({
            url: '@Url.Action("RetrieveIGST", "INV_Invoice")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlIGST").empty();
                    $("#ddlIGST").append('<option value="0" data-id="0">Select IGST</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].TaxID).text(result[i].Tax).attr("data-id", result[i].Percentage);
                        $("#ddlIGST").append(option);
                    }
                    if (IGSTID > 0)
                        $('#ddlIGST').val(IGSTID);
                    else
                        $('#ddlIGST').val(0);

                    FinalCalculation();

                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    FinalCalculation();
    function FinalCalculation() {
        var igstCalculation = 0;
        var cgstCalculation = 0;
        var sgstCalculation = 0;

        var Quantity = $('#txtQuantity').val();
        var Rate = $('#txtRate').val();
        var Weight = $('#Weight').val();



        var igstpercentage = $("#ddlIGST option:selected").attr("data-id");
        igstCalculation = parseFloat(itemWiseEachStepAddTotalAmount * igstpercentage / 100).toFixed(2);
        if (igstCalculation > 0)
            $('#tdIGST').html(igstCalculation);
        else
            $('#tdIGST').html(0);
        if (igstpercentage > 0)
            $('#tdSpanPercentageIGSTValue').html("(" + igstpercentage + "%)");
        else
            $('#tdSpanPercentageIGSTValue').html("(" + 0 + "%)");

        var cgstpercentage = $("#ddlCGST option:selected").attr("data-id");
        cgstCalculation = parseFloat(itemWiseEachStepAddTotalAmount * cgstpercentage / 100).toFixed(2);
        if (cgstCalculation > 0)
            $('#tdCGST').html(cgstCalculation);
        else
            $('#tdCGST').html(0);
        if (cgstpercentage > 0)
            $('#tdSpanPercentageCGSTValue').html("(" + cgstpercentage + "%)");
        else
            $('#tdSpanPercentageCGSTValue').html("(" + 0 + "%)");

        var sgstpercentage = $("#ddlCGST option:selected").attr("data-id");
        sgstCalculation = parseFloat(itemWiseEachStepAddTotalAmount * sgstpercentage / 100).toFixed(2);
        if (sgstCalculation > 0)
            $('#tdSGST').html(sgstCalculation);
        else
            $('#tdSGST').html(0);
        if (sgstpercentage > 0)
            $('#tdSpanPercentageSGSTValue').html("(" + sgstpercentage + "%)");
        else
            $('#tdSpanPercentageSGSTValue').html("(" + 0 + "%)");

        var finaltotal = parseFloat(itemWiseEachStepAddTotalAmount) + parseFloat(igstCalculation) + parseFloat(cgstCalculation) + parseFloat(sgstCalculation);
        finaltotal = parseFloat(finaltotal).toFixed(2)
        $('#tdTotal').html(finaltotal);
        $('#tdFinalTotal').html(Math.round(finaltotal, 2));

        //finaltotal=parseInt(parseFloat(finaltotal));
        //$('#tdFinalTotal').html(Math.round(finaltotal,2));
        //var newAmountPending = finaltotal - $('#AmountReceived').val() - $('#Casar').val();
        //$('#AmountPending').val(parseInt(newAmountPending));

        //$('#txtQuantity').val("");
        //$('#txtItemPrice').val("");
    }


    $('input[type="file"]').change(function (e) {
        debugger
        var lengthfile = e.target.files.length;

        var filename = e.target.files[0].name;
        var Files = $("#fileLoadDoc").get(0);
        $("#txtfile").val(filename);
        // $("#btnsbmt").trigger("click");
        formdata = new FormData();
        for (var i = 0; i < e.target.files.length; i++) {
            formdata.append(e.target.files[i].name, e.target.files[i]);
        }
        $.ajax({
            url: '@Url.Action("UploadCollectionFile", "DIA_JangadItem")',
            type: "POST",
            datatype: "JSON",
            contentType: false,
            processData: false,
            data: formdata,
            success: function (result) {
                debugger;

                $('#divJangadList').show();

                result.DIA_JangadItems[0].Dia

                for (var i = 0; i < result.DIA_JangadItems.length; i++) {
                    var Dia = result.DIA_JangadItems[i].Dia;
                    var RWeight = result.DIA_JangadItems[i].RWeight;
                    var PWeight = result.DIA_JangadItems[i].PWeight;
                    var PavalionAngle = result.DIA_JangadItems[i].PavalionAngle;
                    var CrownAngle = result.DIA_JangadItems[i].CrownAngle;
                    var CrownHeight = result.DIA_JangadItems[i].CrownHeight;
                    var Girdle = result.DIA_JangadItems[i].Girdle;
                    var Culet = result.DIA_JangadItems[i].Culet;
                    var ji_table = result.DIA_JangadItems[i].ji_table;
                    var JangadItemCode = result.DIA_JangadItems[i].JangadItemCode;


                    jangadList.push({
                        tablerowid: i,
                        Dia: Dia,
                        RWeight: RWeight,
                        PWeight: PWeight,
                        PavalionAngle: PavalionAngle,
                        CrownAngle: CrownAngle,
                        CrownHeight: CrownHeight,
                        Girdle: Girdle,
                        Culet: Culet,
                        ji_table: ji_table,
                        Para1: 0,
                        Para2: 0,
                        Para3: 0,
                        JangadItemCode: JangadItemCode
                    });


                    var markup = "<tr>";
                    markup += "<td><input type='checkbox' name='record' id='" + i + "'></td>";
                    markup += "<td class='text-right'>" + JangadItemCode + "</td>";
                    markup += "<td>" + Dia + "</td>";
                    markup += "<td class='text-right'>" + RWeight + "</td>";
                    markup += "<td class='text-right'>" + PWeight + "</td>";
                    markup += "<td class='text-right'>" + PavalionAngle + "</td>";
                    markup += "<td class='text-right'>" + CrownAngle + "</td>";
                    markup += "<td class='text-right'>" + CrownHeight + "</td>";
                    markup += "<td class='text-right'>" + Girdle + "</td>";
                    markup += "<td class='text-right'>" + Culet + "</td>";
                    markup += "<td class='text-right'>" + ji_table + "</td>";
                    markup += "<td class='text-right'>" + "0" + "</td>";
                    markup += "<td class='text-right'>" + "0" + "</td>";
                    markup += "<td class='text-right'>" + "0" + "</td>";
                    markup += "</tr>";

                    $("table .list").prepend(markup);
                }
            }

        })
    });
</script>