@model AnjaliMIS.Models.DIA_JangadItem
@{
    ViewBag.Title = "ForwardPlanning";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.JangadItemID)
    @Html.HiddenFor(model => model.DIA_Jangad.JangadID)


    <script>
        var PolishingStageListArray = [];
        var PolishingStageListArrayHtml = '';
        var SubmitArrayJangadItemList = [];

        $(document).ready(function () {

            RetrievePolishingStageList();
            $('#txtJangadNo').val(@Model.DIA_Jangad.JangadNo);

            $('#chkPhysicalReceive').change(function() {
                var jangadID = @Model.JangadID;
                if($(this).is(':checked')==true)
                {
                    jangaditemID=0;
                    PhysicalReceive(jangadID,jangaditemID);
                    $(this).attr("disabled", true);
                    $('#chkCompleted').attr("disabled", false);
                }
            });

            $('#chkCompleted').change(function() {

                if($(this).is(':checked')==true)
                {
                    $(this).attr("disabled", true);
                    $('#ddlPolishingStageID').attr("disabled", false);
                    $('#chkPhysicalSend').attr("disabled", false);

                }
            });


            $('#chkPhysicalSend').change(function() {
                var jangadID = @Model.JangadID;
                if ($('input[name=Jangad]:checked').val() == "Complete")
                {
                    jangaditemID=0;
                    PhysicalSend(jangadID,jangaditemID);
                    $('#chkPhysicalSend').attr("disabled", true);
                }

            });

            $('input:radio[name=Jangad]').change(function () {
                if ($('input[name=Jangad]:checked').val() == "Partial")
                {
                    $('#divPartialJangadItemList').show();
                    $('#divRemarks').hide();
                    $('#divForwordPhysicalReceive').hide();
                    $('#divCompleteJangad').hide();
                    $('#divForwordCompleted').hide();
                    $('#divPhysicalSend').hide();
                    var janagadid = $('#DIA_Jangad_JangadID').val();

                    GetJangadItemList(janagadid);
                }
                else {
                    $('#divPartialJangadItemList').hide();
                    $('#divRemarks').show();
                    $('#divForwordPhysicalReceive').show();
                    $('#divCompleteJangad').show();
                    $('#divForwordCompleted').show();
                    $('#divPhysicalSend').show();
                }

            });

            $("#btnSaveJangadForward").click(function () {

                if ($('input[name=Jangad]:checked').val() == "Complete") {
                    var jangadID = @Model.JangadID;
                    var polishingStageID = $('#ddlPolishingStageID').val();
                    var remarks = $('#txtRemarks').val();
                    SaveJangadForward(jangadID, polishingStageID, remarks, SubmitArrayJangadItemList, $('input[name=Jangad]:checked').val());
                }
                else if ($('input[name=Jangad]:checked').val() == "Partial") {
                    var jangadID = @Model.JangadID;
                    SubmitArrayJangadItemList = [];
                    for (i = 0; i < $("#tblItems").find("tbody>tr").length; i++) {
                        SubmitArrayJangadItemList.push({
                            jangadItemID: $('#tblItems tbody tr#tr' + i + '  #firsttd' + i + '').html(),
                            polishingStageID: $('#tblItems tbody tr#tr' + i + ' #secondtd' + i + ' .ddlPolishingStageID').val(),
                            remarks: $('#tblItems tbody tr#tr' + i + '  #thirdtd' + i + '  input').val()
                        });
                    }

                    SaveJangadForward(jangadID, polishingStageID, remarks, SubmitArrayJangadItemList, $('input[name=Jangad]:checked').val());

                }
            });

        });

        $(document).on("change", ".chkPhysicalReceive", function () {
            debugger;
            var jangadID = @Model.JangadID;
            var id=this.id;

            var a= id.replace('chkPhysicalReceive', '');
            if ($('input[name=Jangad]:checked').val() == "Partial")
            {
                jangaditemID=a;

                PhysicalReceive(jangadID,jangaditemID);
                $('#chkPhysicalReceive'+a).attr("disabled", true);
                $("#chkCompleted"+a).attr("disabled", false);
            }
        });

        $(document).on("change", ".chkCompleted", function () {

            var id=this.id;

            var a= id.replace('chkCompleted', '');

            if($(this).is(':checked')==true)
            {
                $(this).attr("disabled", true);
                $("#ddlPolishingStageID"+a).attr("disabled", false);
                $("#chkPhysicalSend"+a).attr("disabled", false);

            }
        });

        $(document).on("change", ".chkPhysicalSend", function () {

            var jangadID = @Model.JangadID;
            var id=this.id;

            var a= id.replace('chkPhysicalSend', '');
            if ($('input[name=Jangad]:checked').val() == "Partial")
            {
                jangaditemID=a;

                PhysicalSend(jangadID,jangaditemID);
                $('#chkPhysicalSend'+a).attr("disabled", true);
            }
        });

        function GetJangadItemList(jangadid) {

            var jangadid = @Model.JangadID;
            $.ajax({
                url: '@Url.Action("RetrieveJangadItemList", "DIA_JangadItem")',
                type: 'POST',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "jangadID": jangadid,"polishingStageID":2 }),

                success: function (result) {
                    if (result.length > 0) {
                        var html = '';
                        $('#tbodyJangadItemList').html(html);
                        for (var i = 0; i < result.length; i++) {
                            debugger;
                            var jangaditemid = result[i].JangadItemID;
                            var disabledvalue= result[i].Disabled;
                            if(disabledvalue==true)
                            {
                                html += '<tr id="tr' + i + '">';
                                html += '<td id="firsttd' + i + '">' + jangaditemid + '</td>';
                                html += '<td id="secondtd' + i + '">' + '<input id="chkPhysicalReceive' + jangaditemid + '" class="chkPhysicalReceive"  type="checkbox" name="chkPhysicalReceive"  value="Physical Receive">' + '</td>';
                                html += '<td id="thirdtd' + i + '">' + '<input id="chkCompleted' + jangaditemid + '" class="chkCompleted"  type="checkbox" name="chkCompleted" value="Completed" disabled="disabled">' + '</td>';
                                html += '<td id="fourthtd' + i + '">' + '<select id="ddlPolishingStageID' + jangaditemid + '" class="form-control ddlPolishingStageID" disabled="disabled">' + PolishingStageListArrayHtml + '</select>' + '</td>';
                                html += '<td id="fifthtd' + i + '">' + '<input id="chkPhysicalSend' + jangaditemid + '" class="chkPhysicalSend" type="checkbox" name="chkPhysicalSend" value="Physical Send" disabled="disabled">' + '</td>';
                                html += '<td id="sixthtd' + i + '"><input id="txtRemarks' + jangaditemid + '" type="text" class="form-control" /></td>';
                                html += '</tr>';
                            }
                            else if (disabledvalue==false)
                            {
                                html += '<tr id="tr' + i + '">';
                                html += '<td id="firsttd' + i + '">' + jangaditemid + '</td>';
                                html += '<td id="secondtd' + i + '">' + '<input id="chkPhysicalReceive' + jangaditemid + '" class="chkPhysicalReceive"  type="checkbox" name="chkPhysicalReceive" disabled="disabled" value="Physical Receive">' + '</td>';
                                html += '<td id="thirdtd' + i + '">' + '<input id="chkCompleted' + jangaditemid + '" class="chkCompleted"  type="checkbox" name="chkCompleted" value="Completed" disabled="disabled">' + '</td>';
                                html += '<td id="fourthtd' + i + '">' + '<select id="ddlPolishingStageID' + jangaditemid + '" class="form-control ddlPolishingStageID" disabled="disabled">' + PolishingStageListArrayHtml + '</select>' + '</td>';
                                html += '<td id="fifthtd' + i + '">' + '<input id="chkPhysicalSend' + jangaditemid + '" class="chkPhysicalSend" type="checkbox" name="chkPhysicalSend" value="Physical Send" disabled="disabled">' + '</td>';
                                html += '<td id="sixthtd' + i + '"><input id="txtRemarks' + jangaditemid + '" type="text" class="form-control" disabled="disabled"  /></td>';
                                html += '</tr>';
                            }
                        }
                        
                        $('#tbodyJangadItemList').append(html);

                        
                    }
                },
                error: function (errormessage) {
                }
            });
        }

        function RetrievePolishingStageList() {
            $.ajax({
                url: '@Url.Action("RetrievePolishingStageList", "DIA_JangadItem")',
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: (function (result) {

                    PolishingStageListArray = result;
                    if (result.length > 0) {

                        var html = '<option value="0">Select Stage</option>';
                        for (var i = 0; i < result.length; i++) {
                            html += '<option value="' + result[i].PolishingStageID + '">' + result[i].SatgeName + '</option>';
                        }
                        PolishingStageListArrayHtml = html;
                        $("#ddlPolishingStageID").empty();
                        $("#ddlPolishingStageID").append('<option value="0">Select Stage</option>');
                        for (var i = 0; i < result.length; i++) {
                            var option = $("<option/>");
                            option.attr("value", result[i].PolishingStageID).text(result[i].SatgeName);
                            $("#ddlPolishingStageID").append(option);
                        }
                    }


                }),
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function PhysicalReceive(jangadID,jangaditemID)
        {
            $.ajax({
                url: '@Url.Action("PhysicalReceive", "DIA_JangadItem")',
                data: JSON.stringify({ "jangadID": jangadID, "jangadItemID": jangaditemID}),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == "Success") {

                    }
                    else {

                        alert("not exist some error thrown.");

                    }

                    $('#txtJangadNo').val('');
                    $('#ddlPolishingStageID').val(0);
                    $('#txtRemarks').val('');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function PhysicalSend(jangadID,jangaditemID)
        {
            $.ajax({
                url: '@Url.Action("PhysicalSend", "DIA_JangadItem")',
                data: JSON.stringify({ "jangadID": jangadID, "jangadItemID": jangaditemID}),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == "Success") {

                    }
                    else {

                        alert("not exist some error thrown.");

                    }

                    $('#txtJangadNo').val('');
                    $('#ddlPolishingStageID').val(0);
                    $('#txtRemarks').val('');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function SaveJangadForward(jangadID, polishingStageID, remarks, submitArrayJangadItemList, jangadForwordType) {

            $.ajax({
                url: '@Url.Action("SaveJangadForward", "DIA_JangadItem")',
                data: JSON.stringify({ "jangadID": jangadID, "polishingStageID": polishingStageID, "remarks": remarks, "jangadItemList": submitArrayJangadItemList, "jangadForwordTypeCompleteOrPartial": jangadForwordType }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result == "Success") {

                        alert(result);
                        location.reload(true);
                    }
                    else {

                        alert("not exist some error thrown.");

                    }

                    $('#txtJangadNo').val('');
                    $('#ddlPolishingStageID').val(0);
                    $('#txtRemarks').val('');

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

    </script>
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Forward
                </div>
            </div>
         
            <div class="portlet-body">
                <div class="form-horizontal form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="Jangad" value="Complete" checked="checked">Complete Forward
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="Jangad" value="Partial">Partial Forward
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">JANGAD No</label>
                            <div class="col-md-4">
                                <input id="txtJangadNo" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group" id="divForwordPhysicalReceive">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4 ">
                                <input id="chkPhysicalReceive" type="checkbox" name="chkPhysicalReceive" value="Physical Receive">Physical Receive
                            </div>
                        </div>
                        <div class="form-group" id="divForwordCompleted">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4 ">
                                <input id="chkCompleted" type="checkbox" name="chkCompleted" value="Completed" disabled="disabled">Completed
                            </div>
                        </div>
                        <div class="form-group" id="divCompleteJangad">
                            <label class="control-label col-md-3">Stage</label>

                            <div class="col-md-4">
                                <select id="ddlPolishingStageID" class="form-control" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="form-group" id="divPhysicalSend">
                            <label class="control-label col-md-3">Physical Send</label>
                            <div class="col-md-4 ">
                                <input id="chkPhysicalSend" type="checkbox" name="chkPhysicalSend" value="Physical Send" disabled="disabled">Physical Send
                            </div>
                        </div>

                        <div class="form-group" id="divPartialJangadItemList" hidden>
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9">
                                <table class="table table-bordered" id="tblItems">
                                    <thead>
                                        <tr>
                                            <th>
                                                jangaditemid
                                            </th>
                                            <th>
                                                Completed
                                            </th>
                                            <th>
                                                Stage
                                            </th>
                                            <th>
                                                Partial Receive
                                            </th>
                                            <th>
                                                remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyJangadItemList"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" id="divRemarks">
                            <label class="control-label col-md-3">Remarks</label>
                            <div class="col-md-4">
                                <input id="txtRemarks" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input id="btnSaveJangadForward" type="button" value="Save" class="btn green" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}