@{
    ViewBag.Title = "AddIssueItem";
}


@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Index",
                    new { controller = "INV_ItemIssueReturn" })
    </li>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Issue Item(s)
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="text-danger">@ViewData["errorIssue"]</div>

                        <div class="form-group">

                            <label class="control-label col-md-2">User</label>
                            <div class="col-md-2">
                                @Html.DropDownList("IssueReturnToUserID", null, htmlAttributes: new { @class = "form-control" })
                                @*<select id="ddlUserList" class="form-control"></select>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Assign</label>
                            <div class="col-md-4 radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="assign" value="True">for use
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="assign" value="False">for assemble
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="onlyForUseControls" hidden>
                            <label class="control-label col-md-2">Item</label>
                            <div class="col-md-2">
                                <select id="ddlItemList" class="form-control"></select>
                            </div>
                            <label class="control-label col-md-1">Quantity</label>
                            <div class="col-md-2">
                                <input id="txtForUseQuantity" type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">Remarks </label>
                            <div class="col-md-2">
                                <input id="txtRemarks" type="text" class="form-control" />
                            </div>

                            <div class="col-md-2">
                                <a href="#" class="button btn-block btn default glyphicon glyphicon-plus add-For-Use-Item"> Add Item</a>
                            </div>
                        </div>
                        <div class="form-group" id="onlyForAssembleControls" hidden>
                            <label class="control-label col-md-2">Item</label>
                            <div class="col-md-2">
                                <select id="ddlItemListForAssemble" class="form-control" onchange="GetForIssueItem();"></select>
                            </div>
                        </div>
                        <div class="form-group" id="tableForUse" hidden>
                            <label class="control-label col-md-2">For Use Item List</label>
                            <div class="col-md-10">
                                <table class="table table-bordered table-responsive" id="tableForUse">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyForUse" id="tbodyForUse"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group" id="divForAssmeble" hidden>
                            <label class="control-label col-md-2">for assmeble Item List</label>
                            <div class="col-md-10">
                                <table class="table table-bordered table-responsive" id="tableForAssmeble">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyForAssmeble" id="tbodyForAssmeble"></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <div class="form-group" id="btnForUSer" hidden>
                                    <button id="btnSaveForUse" class="btn green">Issue Item(s)</button>
                                    @Html.ActionLink("Back to List", "Issue", "INV_ItemIssueReturn", new { @class = "btn default" })
                                </div>
                                <div class="form-group" id="btnForAssmeble" hidden>
                                    <button id="btnSaveForAssmeble" class="btn green">Issue Item(s)</button>
                                    @Html.ActionLink("Back to List", "Issue", "INV_ItemIssueReturn", new { @class = "btn default" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {

        RetrieveitemList();
        RetrieveUserList();
        RetrieveitemListForAssemble();
        //assign radio button change event
        $('input:radio[name=assign]').change(function () {
            if ($('input[name=assign]:checked').val() == "True") {

                GetForIssueItem();
                $('#tableForUse').show();
                $('#btnForUSer').show();
                $('#divForAssmeble').hide();
                $('#btnForAssmeble').hide();
                $('#onlyForUseControls').show();
                $('#onlyForAssembleControls').hide();



            }
            else if ($('input[name=assign]:checked').val() == "False") {

                GetForIssueItem();
                $('#tableForUse').hide();
                $('#btnForUSer').hide();
                $('#divForAssmeble').show();
                $('#btnForAssmeble').show();
                $('#onlyForUseControls').hide();
                $('#onlyForAssembleControls').show();


            } else {

                $('#tableForUse').hide();
                $('#btnForUSer').hide();
                $('#divForAssmeble').hide();
                $('#btnForAssmeble').hide();
                $('#onlyForUseControls').hide();

            }
        });

        //rbtnItem radio button change event
        $('input:radio[name=rbtnItem]').change(function () {
            if ($('input[name=rbtnItem]:checked').val() == "True") {

                GetForReturnItem();
                $('#tableMainItem').show();
                $('#btnMainItem').show();
                $('#divSubItem').hide();
                $('#btnSubItem').hide();



            }
            else if ($('input[name=rbtnItem]:checked').val() == "False") {

                GetForReturnItem();
                $('#tableMainItem').hide();
                $('#btnMainItem').hide();
                $('#divSubItem').show();
                $('#btnSubItem').show();

            } else {

                $('#tableMainItem').hide();
                $('#btnMainItem').hide();
                $('#divSubItem').hide();
                $('#btnSubItem').hide();
            }
        });

        //btnSaveForUse click event
        $("#btnSaveForUse").click(function () {

            SaveItemForUse();

        });
        //btnSaveForAssmeble click event
        $("#btnSaveForAssmeble").click(function () {

            SaveItemForAssmeble();

        });


        //btnSaveMainItem click event
        $("#btnSaveMainItem").click(function () {

            SaveMainItem();

        });
        //btnSaveSubItem click event
        $("#btnSaveSubItem").click(function () {

            SaveSubItem();

        });

        $("ddlItemList").change(function ()   {
            GetForIssueItem();
        });
    });
    function RetrieveitemList() {
        $.ajax({
            url: "/INV_Invoice/RetrieveItemList",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlItemList").empty();
                    $("#ddlItemList").append('<option value="0">Select Item</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].ItemID).text(result[i].ItemName);
                        $("#ddlItemList").append(option);
                    }
                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function RetrieveitemListForAssemble() {
        $.ajax({
            url: "/INV_ItemIssueReturn/RetrieveItemListForAssemble",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlItemListForAssemble").empty();
                    $("#ddlItemListForAssemble").append('<option value="0">Select Item</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].ItemID).text(result[i].ItemName);
                        $("#ddlItemListForAssemble").append(option);
                    }
                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function RetrieveUserList() {
        $.ajax({
            url: "/INV_ItemIssueReturn/RetrieveUserList",
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: (function (result) {

                if (result.length > 0) {

                    $("#ddlUserList").empty();
                    $("#ddlUserList").append('<option value="0">Select User</option>');
                    for (var i = 0; i < result.length; i++) {
                        var option = $("<option/>");
                        option.attr("value", result[i].UserID).text(result[i].UserName);
                        $("#ddlUserList").append(option);
                    }
                }
            }),
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function GetForIssueItem() {

        var postData = {
            MainItemID: $('#ddlItemListForAssemble').val(),
            //UserID: $('#ddlUserList').val(),
            RetrieveType: $('input[name=assign]:checked').val()
        };


        $.ajax({
            url: "/INV_ItemIssueReturn/Retrieve_INV_ItemConfiguration_List",
            data: JSON.stringify(postData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if ($('input[name=assign]:checked').val() == "True") {
                    $('#txtItemName').val(result.ItemName);
                    $('#txtQuantity').val(result.Qunatity);
                }
                else if ($('input[name=assign]:checked').val() == "False") {
                    $('#tbodyForAssmeble').html('');
                    var html = '';
                    var i = 1;
                    $.each(result, function (key, value) {
                        html += '<tr id=' + i + '>';
                        html += '<td><input type="checkbox" name="chkForAssmeble" value="' + result[key].SubItemID + '"></td>';
                        html += '<td>' + result[key].ItemName + '</td>';
                        html += '<td><input id="quantity' + i + '" type="text" class="form-control" value="' + result[key].Qunatity + '"/></td>';
                        html += '</tr>';
                        i++;
                    });
                    $('#tbodyForAssmeble').append(html);
                }

                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }

    function GetForReturnItem() {



        var postData = {
            MainItemID: $('#ddlItemList').val(),
            //UserID: $('#ddlUserList').val(),
            RetrieveType: $('input[name=rbtnItem]:checked').val()
        };


        $.ajax({
            url: "/INV_ItemIssueReturn/Retrieve_INV_ItemConfiguration_List",
            data: JSON.stringify(postData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                if ($('input[name=rbtnItem]:checked').val() == "True") {
                    $('#txtReturnItemName').val(result.ItemName);
                    $('#txtReturnQuantity').val(result.Qunatity);
                }
                else if ($('input[name=rbtnItem]:checked').val() == "False") {
                    $('#tbodySubItem').html('');
                    var html = '';
                    var i = 1;
                    $.each(result, function (key, value) {
                        html += '<tr id=' + i + '>';
                        html += '<td><input type="checkbox" name="chkSubItem" value="' + result[key].SubItemID + '"></td>';
                        html += '<td>' + result[key].ItemName + '</td>';
                        html += '<td><input id="quantity' + i + '" type="text" class="form-control" value="' + result[key].Qunatity + '"/></td>';
                        html += '</tr>';
                        i++;
                    });
                    $('#tbodySubItem').append(html);
                }

                //alert(result);
            },
            error: function (errormessage) {


            }
        });
    }

    function SaveItemForAssmeble() {
        var ForUseItemList = [];
        debugger;
        $('#tableForAssmeble input:checked').each(function () {

            var checkbboxid = $(this).val();

            var tablerowid = $(this).closest('tr').attr('id');

            var quantityValue = $("#quantity" + tablerowid).val();

            ForUseItemList.push({
                ItemID: checkbboxid,
                Quantity: quantityValue
            });

        });

        var newData = {
            IssueReturnToUserID: $('#IssueReturnToUserID').val(),
            IssueReturnItems: ForUseItemList
        };
        $.ajax({
            url: "/INV_ItemIssueReturn/SaveForAssmeble",
            data: JSON.stringify(newData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                location.href='@Url.Action("Issue", "INV_ItemIssueReturn")';
            },
            error: function (errormessage) {


            }
        });
    }
    var ForUseItemList = [];
    $(".add-For-Use-Item").click(function () {
        $('#tableForUse').show();
        if ($('#ddlItemList').val() != null && $('#txtItemPrice').val() != "") {
            var itemid = $("#ddlItemList").val();
            var itemname = $("#ddlItemList").find('option:selected').text();
            var quantity = $('#txtForUseQuantity').val();
            var txtRemarks = $("#txtRemarks").val();
            ForUseItemList.push({
                ItemID: itemid,
                Quantity: quantity
            });
            var html = '';
            var html = "<tr><td>" + itemname + "</td><td>" + quantity + "</td><td>" + txtRemarks + "</td></tr>";
            $('#tbodyForUse').append(html);
        }
    });
    function SaveItemForUse() {
        var newData = {
            IssueReturnToUserID: $('#IssueReturnToUserID').val(),
            IssueReturnItems: ForUseItemList
        };
        debugger;
        $.ajax({
            url: "/INV_ItemIssueReturn/SaveForUse",
            data: JSON.stringify(newData),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {

                location.href = '@Url.Action("Issue", "INV_ItemIssueReturn")';
            },
            error: function (errormessage) {


            }
        });
    }
</script>






