@model List<AnjaliMIS.Models.INV_StockHistory>
@{
    ViewBag.Title = "Issue";
}

@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Index",
                    new { controller = "INV_ItemIssueReturn" })
    </li>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<div class="col-md-12 ">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Issued Item(s)
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm("AddIssueItem", "INV_ItemIssueReturn", FormMethod.Post))
            {
                @*<label class="control-label col-md-12 right">Item List</label>*@
                <div class="col-md-2">
                    <button type="submit" id="btnAddIssueItem" class="form-control btn-success right">Add Issue Tab</button>
                </div>

            }

            <table class="table table-striped table-bordered table-advance table-hover" id="MyTable">
                <thead>
                    <tr>
                        <th>no</th>
                        <th>ItemName</th>
                        <th>OprationType</th>
                        <th>Quantity</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 1;
                        foreach (var item in @Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.INV_Item.ItemName</td>
                                <td>@item.SYS_OperationType.OperationType</td>
                                <td>@item.Quantity</td>
                                <td>@item.Remarks</td>
                            </tr>
                            i++;
                        }



                    }


                </tbody>
            </table>

        </div>
    </div>
</div>





