@model IEnumerable<AnjaliMIS.Models.INV_Invoice>

@{
    ViewBag.Title = "Index";
}
@section breadcrumb {
    <li>
        @Html.ActionLink("Inventory Dashboard", "Dashboard",
                    new { controller = "INV_Item" })
    </li>
}
<!--List Code Start-->
<div class="col-md-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-sharp hide"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Invoice</span>
                @*<span class="caption-helper">weekly stats...</span>*@
            </div>
            <div class="actions">
                <div class="btn-group">
                    @Html.ActionLink("Create New", "Create",
                    new { controller = "INV_Invoice" },
                    new { @class = "btn btn-transparent green btn-circle btn-sm active" })
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-advance table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Inv. No.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmountReceived)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmountPending)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Casar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SYS_Company.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SYS_FinYear.FinYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MST_Party.PartyName)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountReceived)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPending)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Casar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SYS_Company.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SYS_FinYear.FinYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MST_Party.PartyName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }) |
                                @Html.ActionLink("Print", "Print", new { id = item.InvoiceID }, new { target = "_blank" }) |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PORTLET-->
    <!-- Modal -->
    <div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    Do you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>



    @section scripts {
        @*@Scripts.Render("https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
            <script>

                    $(document).ready(function () {
                            $('#myTable').DataTable();
                    });
            </script>*@
        <script>
            $('body').on('click', '#confirmDialog', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#dialog-confirm');
                $(this).attr('data-toggle', 'modal');
            });
        </script>
    }
</div>
<!--List Code End-->
