@model AnjaliMIS.Models.INV_ItemPrice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>INV_ItemPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INV_Item.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INV_Item.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYS_FinYear.FinYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYS_FinYear.FinYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEC_User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEC_User.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
