@*@model IEnumerable<AnjaliMIS.ViewModals.MenuViewModal>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/assets/global/plugins/select2/select2.css")
    @Styles.Render("~/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css")
    @Styles.Render("~/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css")
    @Styles.Render("~/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")
    <style>
        input {
            /*width: 145px !important;*/
            font-size: 14px;
            font-weight: normal;
            color: #333;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            box-shadow: none;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        thead {
            font-weight: bold;
        }
        /*.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
            margin-top: 4;
            margin-left: 0px !important;
        }*/
    </style>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo float-left">
                @*Anjali MIS*@
                <h4 class="site-title " style="color:white !important; padding-left:10px; padding-top:3px ">
                    Anjali MIS
                </h4>
            </div>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            @*<img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg" />*@
                            <span class="username username-hide-on-mobile">
                                @{
                                    if (Session["UserName"] != null)
                                    {
                                        string UserName = Session["UserName"].ToString();
                                        @UserName
                                    }
                                }
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="#">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout", "Home")">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            @{
                                if (Session["UserName"] != null)
                                {
                                    string UserName = Session["UserName"].ToString();
                                    @Html.ActionLink(@UserName, "", "")
                                }
                            }
                        </li>*@

                    @*<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                            @Html.ActionLink("Log Out", "Logout", "Home")
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">

                @*Menu From Partial View*@
                @*@Html.Partial("_MainMenu")*@
                @*@Html.Action("_MainMenu", "HomeController")*@
                @*@Html.Partial("~/Views/PartialViewMenu/_MainMenu.cshtml", "HomeController")*@
                @Html.Action("_MainMenu", "Home")
                @*Menu From Partial View*@


                @*<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">*@
                @*@foreach (var item in Model)
                    {
                        <li>@Html.ActionLink(item.ModuleName, item.Action, item.Controller, new { area = "" }, null)</li>
                    }*@

                @*<li class="@(ViewContext.RouteData.Values["controller"].ToString() == "LOC_country" ? "active" : "")"><a href="@Url.Action("index", "LOC_country")"><i class="icon-home icon-large"></i> Country</a></li>

                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "LOC_country" ? "active" : "")">@Html.ActionLink("Country", "index", "LOC_country", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "LOC_state" ? "active" : "")">@Html.ActionLink("State", "index", "LOC_state", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "LOC_city" ? "active" : "")">@Html.ActionLink("City", "index", "LOC_city", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "INV_Unit" ? "active" : "")">@Html.ActionLink("Unit", "index", "INV_Unit", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "EMP_department" ? "active" : "")">@Html.ActionLink("Department", "index", "EMP_department", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "DIA_Cassett" ? "active" : "")">@Html.ActionLink("Cassett", "index", "DIA_Cassett", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "EMP_Designation" ? "active" : "")">@Html.ActionLink("Designation", "index", "EMP_Designation", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "MST_Party" ? "active" : "")">@Html.ActionLink("Party", "index", "MST_Party", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "EMP_Employee" ? "active" : "")">@Html.ActionLink("Employee", "index", "EMP_Employee", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "SEC_user" ? "active" : "")">@Html.ActionLink("User", "index", "SEC_user", new { area = "" }, null)</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "DIA_Machine" ? "active" : "")">@Html.ActionLink("Machine", "index", "DIA_Machine", new { area = "" }, null)</li>*@
                @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                @*<li>@Html.ActionLink("Country", "index", "LOC_country", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("State", "index", "LOC_state", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("City", "index", "LOC_city", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Unit", "index", "INV_Unit", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Department", "index", "EMP_department", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Cassett", "index", "DIA_Cassett", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Designation", "index", "EMP_Designation", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("PartyType", "index", "SYS_PartyType", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("User", "index", "SEC_user", new { area = "" }, null)</li>*@

                @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                @*</ul>*@
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="index.html">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        @RenderSection("breadcrumb", required: false)
                    </ul>
                    <div class="page-toolbar">

                    </div>
                </div>
                <h3 class="page-title">
                    @*Dashboard <small>reports & statistics</small>*@
                </h3>
                <div class="clearfix">
                </div>
                <div class="row">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/assets/global/plugins/jquery.min.js")
    @Scripts.Render("~/bundles/jquery")
    <!--List Code End-->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @*<script src="~/assets/admin/pages/scripts/table-advanced.js"></script>*@
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            //Index.init();
            //Index.initDashboardDaterange();
            //Index.initJQVMAP(); // init index page's custom scripts
            //Index.initCalendar(); // init index page's custom scripts
            //Index.initCharts(); // init index page's custom scripts
            //Index.initChat();
            //Index.initMiniCharts();
            Tasks.initDashboardWidget();
            Demo.init(); // init demo features
        });
    </script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //$('#MyTable').DataTable();

            $('#MyTable').dataTable({
                /* Disable initial sort */
                "aaSorting": []
            });
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
    <style>
        #MyTable thead tr th {
            background-color: #DDD;
            font-size: 14px;
            font-weight: 400;
            color: #666;
        }
    </style>

</body>
</html>
